# ==========================================================
# Python
# ==========================================================
__pycache__/
*.py[cod]
*$py.class

# ==========================================================
# Virtual Environment
# ==========================================================
venv/
.venv/
env/

# ==========================================================
# IDE
# ==========================================================
.vscode/
.idea/

# ==========================================================
# Jupyter
# ==========================================================
.ipynb_checkpoints/

# ==========================================================
# Logs
# ==========================================================
logs/
*.log

# ==========================================================
# Saved Models
# ==========================================================
saved_models/
*.keras
*.h5
*.weights.h5

# ==========================================================
# Dataset
# ==========================================================
data/

# ==========================================================
# Outputs
# ==========================================================
outputs/

# ==========================================================
# Environment Variables
# ==========================================================
.env

# ==========================================================
# Cache
# ==========================================================
.pytest_cache/
.cache/

# ==========================================================
# OS Files
# ==========================================================
.DS_Store
Thumbs.db